*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin:0;
    background-color: rgb(71, 166, 255);
    padding: 20px;
    color: white;
    font-size: 40px;
}
.main{
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    display: flex;
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h2{
    margin-top:0
}
.box{
    background-color: white;
    width: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgb(27, 160, 138);

}

.row{
    margin-top: 20px;
}

label{
    font-size: 20px;
    
}

#submit{
    width:600px;
    height: 40px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 40px;
}